<section>
  <form [formGroup]="searchForm">
    <label>
      <input type="text" (keyup)="searchTerm.next($event)" [value]="searchTerm$|async" formControlName="search"
             placeholder="Search articles..."/>

      <div class="loading" *ngIf="loading$|async">
        <p class="search-message">Searching</p>
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </label>

  </form>

  <div *ngIf="searchResults$|async;let searchResults">
    <div class="results">
      <div class="article" *ngFor="let article of searchResults">
        <div>
          <img loading="lazy" [attr.src]="article.urlToImage" alt="avatar"/>
          <h2>{{ article.title }}</h2>
          <p>{{ article.description }}</p>
          <a href="{{ article.url }}">Read full article</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage$|async;let errorMessage" class="errorMessage">
    <h2>Error</h2>
    <p class="error">{{errorMessage}}</p>
  </div>


</section>
